<div class="container mt-5">
  <h3 class="display-6">Add New Person</h3>
  <hr />
  <form [formGroup]="PersonForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="fullName" class="form-label">Full Name</label>
      <input id="fullName" class="form-control form-control-lg" type="text" formControlName="fullName" placeholder="Enter name...">

      @if (PersonForm.get('fullName')?.touched && PersonForm.get('fullName')?.invalid) {
      <span class="text-danger">Name is required (min 3 characters).</span>
      }
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-primary" [disabled]="PersonForm.invalid || IsSubmitting()">
        {{ IsSubmitting() ? 'Saving...' : 'Add Person' }}
      </button>
    </div>
  </form>
</div>

<div class="container mt-5">
  @if (People() !== undefined && People().length > 0){
  <section class="mt-5">
    <h3 class="display-6">People</h3>
    <hr />
    @for (p of People(); track p.id) {
    <div class="mt-3 mb-3">
      <span class="txt-primary fs-3 fw-semibold">{{ p.fullName }}</span>
    </div>
    }
  </section>
  }
  @else{
  <div class="alert alert-primary">
    <span>No people data to display</span>
  </div>
  }
</div>
